body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.logo {
    height: 40px;
}

.create-project {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

.create-project:hover {
    color: #ddd;
}

.navbar-right p {
    margin: 0;
}


/* Style pour le bouton de déconnexion */
.logout-button {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
}

.logout-button:hover {
    background-color: #d32f2f;
}